<div class="nav-scroller bg-body shadow-sm">
    <nav class="nav nav-underline" style="background-color: #d6ecfc;" aria-label="Secondary navigation">
        <a  class="nav-link active" aria-current="page"
            href="{{ path('formulaire') }}">
            <p style="color: #5784BA;"><i class="fa fa-files-o" aria-hidden="true"></i> Liste des formulaires</p>
        </a>
    </nav>
</div>